@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.397);
}

.screen {
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    font-size: 20px;
    text-align: right;
    border: none;
    padding: 10px;
}

.calculator {
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
}

.calculator-buttons {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12.5px 5px;
    margin-top: 25px;
}

.calculator-buttons button {
    flex-basis: calc(100% / 4 - 5px);
    font-size: 24px;
    height: 40px;
    color: white;
    border-radius: 5px;
}

#clear {
    background-color: red;
}

#result {
    background-color: green;
}

.operator,
#percentage,
#power {
    background-color: rgb(0, 102, 255);
}

#decimal {
    background-color: yellow;
    color: black;
}

#backspace {
    background-color: rgb(255, 145, 0);
}

textarea {
    resize: none;
    border: none;
    padding: 10px;
    color: grey;
    font-size: 17.5px;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.number {
    background-color: rgb(170, 170, 170);
}